<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cn.wisdsoft.electivesystem.mapper.StatisticsMapper">
	<resultMap type="cn.wisdsoft.electivesystem.pojo.Statistics" id="Statistics1">
		<result column="term_name" jdbcType="VARCHAR" property="termName" />
    	<result column="college" jdbcType="VARCHAR" property="college" />
   		<result column="cu_name" jdbcType="VARCHAR" property="cuName" />
    	<result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    	<result column="class_hour" jdbcType="VARCHAR" property="classHour" />
    	<result column="credit" jdbcType="DECIMAL" property="credit" />
    	<result column="class_time" jdbcType="VARCHAR" property="classTime" />
    	<result column="place" jdbcType="VARCHAR" property="place" />
    	<result column="COUNT(re.stu_id)" jdbcType="INTEGER" property="countNum" />
	</resultMap>
	<!--查询所有学期 -->
	<select id="findTerm" parameterType="String" resultType="cn.wisdsoft.electivesystem.pojo.TermResource">
		SELECT DISTINCT term_name FROM term_resource WHERE `status` NOT IN (0,1)
	</select>
	<!--根据学期、学院统计选课详情表格 -->
	<select id="findElective" parameterType="String" resultType="cn.wisdsoft.electivesystem.pojo.Statistics">
		select cu.cu_name AS cuName, cu.id AS id,cu.teacher_name AS teacherName,
				cu.class_hour AS classHour,cu.credit AS credit,
			   se.class_time AS classTime,se.place AS place,COUNT(re.stu_id) AS countNum,
			   re.select_id AS selectId
		FROM term_resource te,course co,curriculum cu,selection se,relationship re
		WHERE te.id = co.tr_id AND co.id = cu.cou_id AND se.cu_id = cu.id AND se.id = re.select_id
		AND te.term_name = #{termName} AND te.college = #{college} GROUP BY(re.select_id)
	</select>
	<!--根据学期、学院、教师姓名统计数据表格-->
	<select id="findElectiveEcharts" parameterType="String" resultType="cn.wisdsoft.electivesystem.pojo.Statistics">
		SELECT cu.cu_name AS cuName,cu.teacher_name AS teacherName,COUNT(re.stu_id) AS countNum
		FROM term_resource te,course co,curriculum cu,selection se,relationship re
		WHERE te.id = co.tr_id AND co.id = cu.cou_id AND se.cu_id = cu.id AND se.id = re.select_id
			  AND te.college = #{college}
			  <if test="termName!=null and termName!=''">
			      AND te.term_name = #{termName}
			  </if>
			  <if test="teacherName!=null and teacherName!=''">
				  AND cu.teacher_name = #{teacherName}
			  </if>
		GROUP BY(re.select_id)
	</select>
	<!--根据选课id查询所有学生-->
	<select id="findStu" parameterType="INTEGER" resultType="cn.wisdsoft.electivesystem.pojo.Relationship">
		SELECT stu_id AS stuId ,stu_name AS stuName from relationship where select_id = #{selectid}
	</select>
	<!-- 根据选课id删除选课表（停课）-->
	<delete id="delRelationship" parameterType="INTEGER">
		DELETE FROM relationship where select_id = #{selectid}
	</delete>
	<!-- 根据选课id删除选课关系表-->
	<delete id="delSelection" parameterType="INTEGER">
		DELETE FROM selection where id = #{id}
	</delete>
</mapper>
